main {
    /* CON GRID */
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 20% 70%; */
    min-height: 100vh;

    /* CON FLEX */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
}

.title {
    grid-column: 1/-1;
}
